.card.threat-high { border-left: 0.3125rem solid red; }
.card.threat-medium { border-left: 0.3125rem solid yellow; }
.card.threat-low { border-left: 0.3125rem solid green; }





.clickable-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
}
.clickable-card {
transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.col {
  margin-left: 4%; /* Make sure this adjusts or disappears in a responsive layout */
}

#CardsContainer .col {
  max-width: 100%; /* Good for small screens */
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #CardsContainer .col {
    margin-left: 0; /* Remove margin on smaller screens */
  }
}


/* Optional: Adjust card content spacing */
#CardsContainer .card-body {
  padding: 1.25rem; /* Increase padding */
}

/* Adjusting the width and margin of cards for larger viewports, if needed */
@media (min-width: 768px) {
  #CardsContainer .col {
    /* You can adjust this if you want some maximum width on larger screens */
    max-width: 90%;
  }
}
.selectable-text {
  user-select: text;
  -webkit-user-select: text; /* Safari */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
}




#alphabet-navigation a:hover {
  text-decoration: underline; /* Adds an underline on hover for better visibility */
}


#alphabet-navigation {
  position: fixed;
  right: 3%; /* Consider making this more responsive or using a fixed pixel value if 3% is too variable */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

#alphabet-navigation a {
  display: block;
  margin: 5px 0;
  cursor: pointer;
  text-align: center;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on smaller screens if sidebar is needed */
  }

  .search-bar-container, .alphabet-navigation {
    padding: 0.5rem;
  }

  #CardsContainer .col {
    max-width: 100%;
  }
}
