---
// src/pages/login.astro
---
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form id="loginForm" action="/api/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Log In</button>
    </form>
</body>
</html>
